*{
  box-sizing:border-box;
  padding:5px;
  margin:5px;
}

.header{
	background-color:#208000;
}
.content{
	background-color:#b30000;
}

.menu{
	background-color:#ff0000;
}

.item{
	background-color:#ffe6e6;
}

.info{
	background-color:#ff0000;
}

.footer{
	background-color:#002080;
}