*{
  box-sizing:border-box;
  font-family:"Verdana",serif;
}

div{
  
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.column {
    float: left;
    padding:15px;
}

.menu{
  width:25%
}

.content{
  width:75%;
}

.menu ul {
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 8px;
    background-color: #33b5e5;
    color: white;
}
.menu li:hover {
    background-color: #0099cc;
}
.header, .footer {
    background-color: grey;
    color: white;
    padding: 15px;
}
img{
  width:50%;
}