*{
  box-sizing:border-box;
  font-family:"Verdana",serif;
}

div{
	margin: 5px;
	padding: 5px;
}

.footer, .header {
	padding: 5px;
	color:white;
	width:100%;
	background-color:grey;
}

.flex{
	display:flex;
	justify-content:left;
	flex-wrap:wrap;
}

.content{

}

.menu{
	//background-color:red;
	justify-content:center;
	flex-grow:1;
	flex-direction:column;
}

.item{
	background-color:#3399ff;
	text-align:center;
	font-size:12pt;
	font-weight:bold;
}

.info{
	//background-color:green;
	flex-grow:2;
	width:500px;
}